*{
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
.addevent{
    display: inline-grid;
    padding-bottom: 3rem;
}
.addevent i{
    background-color: purple;
    border-radius: 80px;
    margin: 0px 12rem 0px 12rem;
    padding: 5px;
}
.addevent input{
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
}
.catagory img{
    width: 13%;
    height: 15vh;
}
@media only screen and (max-width:576px){
    .addevent {
        display: block;
        padding-bottom: 3rem;
    }
}
@media only screen and (min-width:576px){
    .addevent {
        display: inline-grid;
        padding-bottom: 3rem;
    }
}